@keyframes rotate {
  from {
    transform: rotate(10deg) scale(0.8);
  }

  50% {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(-10deg) scale(0.8);
  }
}

.card__button-like-img_wait {
  animation: rotate .03s ease-in-out infinite;
}