.profile__button-edit-avatar {
  width: 120px;
  height: 120px;
  position: relative;
  background: transparent;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  margin: 0 30px 0 0;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .profile__button-edit-avatar {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  .profile__button-edit-avatar {
    margin-right: auto;
  }
}