.page__container {
  width: 880px;
  margin: 0 200px;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .page__container {
    width: 581px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 680px) {
  .page__container {
    width: 320px;
  }
}