.logo {
  display: block;
  margin: 0 0 41px 0;
}

@media screen and (max-width: 680px) {
  .logo {
    margin: 0 0 28px 19px;
  }
}

.logo__image {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 680px) {
  .logo__image {
    width: 103.74px;
    height: 24.4px;
  }
}
