.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
  margin: 0;
  z-index: -1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.popup__container {
  width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
}

@media screen and (max-width: 680px) {
  .popup__container {
    width: 282px;
  }
}

.popup__container-error {
  width: 430px;
  position: relative;
  line-height: 0.8;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ff0000;
  border-radius: 10px;
  background: #ffffff;
  padding: 25px 20px;
}

@media screen and (max-width: 680px) {
  .popup__container-error {
    width: 282px;
    font-size: 20px;
  }
}

.popup__container-pic {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
  display: flex;
}

.popup__title {
  width: 358px;
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  margin: 34px 0 0 0;
}

@media screen and (max-width: 680px) {
  .popup__title {
    width: 238px;
    line-height: 22px;
    font-size: 18px;
    margin: 25px 0 25px 0;
  }
}

.popup__text {
  width: 83%;
  height: 58px;
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  margin: 0 auto 60px auto;
}

@media screen and (max-width: 680px) {
  .popup__text {
    width: 244px;
    line-height: 24px;
    font-size: 20px;
    margin: 0 auto 50px auto;
  }
}

.popup__form {
  margin: 10px 0;
}

.popup__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.popup__input {
  width: 358px;
  height: 27px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #dddddd;
  outline: none;
  margin: 30px 0 0 0;
}

::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 680px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input_type_error {
  border: 0;
  border-bottom: 1px solid #ff0000;
}

.popup__icon {
  width: 120px;
  height: 120px;
  margin: 60px auto 32px auto;
}

.popup__error {
  width: 358px;
  height: 0;
  overflow: visible;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  margin: 0 auto -5px auto;
  padding-top: 5px;
}

@media screen and (max-width: 680px) {
  .popup__error {
    width: 238px;
  }
}

.popup__pic {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.popup__pic-title {
  position: absolute;
  bottom: -25px;
  left: 0;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  outline: none;
  margin: 0;
  padding: 0;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .popup__button-close {
    right: 0;
  }
}

.popup__button-close-img {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

@media screen and (max-width: 680px) {
  .popup__button-close-img {
    width: 26px;
    height: 26px;
  }
}

.popup__button-delete {
  width: 358px;
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  outline: none;
  margin: 38px 0 34px 0;
}

.popup__button-delete:hover {
  opacity: 0.8;
}

@media screen and (max-width: 680px) {
  .popup__button-delete {
    width: 238px;
    height: 46px;
    line-height: 17px;
    font-size: 14px;
    margin: 45px 0 25px 0;
  }
}

.popup__button-save {
  width: 358px;
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  outline: none;
  margin: 38px 0 34px 0;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 680px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    line-height: 17px;
    font-size: 14px;
    margin: 45px 0 25px 0;
  }
}

.popup__button-save_disabled {
  color: #000000;
  border: 1px solid #000000;
  background: #ffffff;
  opacity: 0.2;
}
