.profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
  }
}

.profile__info {
  width: calc(100% - 350px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .profile__info {
    max-width: calc(100% - 200px);
    min-width: calc(100% - 300px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 680px) {
  .profile__info {
    max-width: 282px;
    min-width: 282px;
    width: 282px;
    margin-left: 0;
    margin-right: 0;
  }
}

.profile__info-full-name-and-button-edit {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 680px) {
  .profile__info-full-name-and-button-edit {
    margin: 26px auto 0;
  }
}

.profile__info-full-name {
  line-height: 48px;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .profile__info-full-name {
    min-width: 50px;
    max-width: 243px;
    line-height: 33px;
    font-size: 28px;
  }
}

.profile__info-profession {
  line-height: 22px;
  font-size:18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 0 0 0;
}

@media screen and (max-width: 680px) {
  .profile__info-profession {
    line-height: 17px;
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  z-index: 1;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .profile__avatar {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  .profile__avatar {
    margin-right: auto;
  }
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  outline: none;
  margin: 0 0 9px 18px;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}

.profile__button-edit-avatar {
  width: 120px;
  height: 120px;
  position: relative;
  background: transparent;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  margin: 0 30px 0 0;
  outline: none;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .profile__button-edit-avatar {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 680px) {
  .profile__button-edit-avatar {
    margin-right: auto;
  }
}

.profile__button-edit-avatar-overlay::after {
  width: 120px;
  height: 120px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #000000;
  opacity: 0;
  background-position: center;
  transition: opacity .3s linear, visibility .3s linear;
  z-index: 2;
  outline: none;
  margin: 0;
}

.profile__button-edit-avatar-overlay:hover::after {
  visibility: visible;
  opacity: .8;
  background-image: url(../images/button-edit-avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
}

.profile__button-edit-img {
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 680px) {
  .profile__button-edit-img {
    width: 8px;
    height: 8px;
  }
}

.profile__button-add-card {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  outline: none;
  margin: 0 0 0 auto;
}

.profile__button-add-card:hover {
  opacity: 0.6;
}

@media screen and (max-width: 980px) {
  .profile__button-add-card {
    width: 282px;
    margin: 49px auto 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .profile__button-add-card {
    margin: 36px 0 0 0;
  }
}

.profile__button-add-card-img {
  width: 22px;
  height: 22px;
  margin: auto;
}
