.register {
  width: 358px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .register {
    width: 260px;
  }
}

.register__title {
  width: 100%;
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  margin: 60px 0 20px;
}

@media screen and (max-width: 680px) {
  .register__title {
    line-height: 24px;
    font-size: 20px;
    margin: 40px 0 10px;
  }
}

.register__form {
  width: 100%;
}

.register__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
}

.register__pass-input {
  position: relative;
}

.register__input {
  width: 358px;
  height: 27px;
  background: transparent;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 30px 0 0;
}

@media screen and (max-width: 680px) {
  .register__input {
    width: 260px;
  }
}

::placeholder {
  color: #FFFFFF;
  font-weight: 400;
}

.register__input:-webkit-autofill,
.register__input:-webkit-autofill:hover,
.register__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px #131414 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.register__eye {
  width: 22px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .6;
  transition: opacity 0.5s ease-out;
  margin: 0;
  padding: 0;
}

.register__eye:hover {
  opacity: .4;
}

.register__eye-img {
  width: 100%;
}

.register__error {
  width: 358px;
  height: 0;
  display: inline-block;
  line-height: 13px;
  font-size: 12px;
  font-weight: 400;
  color: #FF0000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto -13px auto;
  padding-bottom: 13px;
}

@media screen and (max-width: 680px) {
  .register__error {
    width: 260px;
  }
}

.register__button {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  line-height: 22px;
  font-size: 18px;
  color: #000000;
  outline: none;
  transition: opacity 0.5s ease-out;
  margin: 159px 0 0;
}

.register__button:hover {
  opacity: .85;
}

@media screen and (max-width: 680px) {
  .register__button {
    height: 46px;
    line-height: 19px;
    font-size: 16px;
    color: #000000;
    margin: 116px 0 0;
  }
}

.register__button_disabled {
  background: #DDDDDD;
  color: #BBBBBB;
}

.register__question {
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  margin: 30px 0 0;
}

@media screen and (max-width: 680px) {
  .register__question {
    margin: 20px 0 0;
  }
}

.register__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.5s ease-out;
}

.register__link:hover {
  opacity: .6;
}
