.popup__error {
  width: 358px;
  height: 0;
  overflow: visible;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  margin: 0 auto -5px auto;
  padding-top: 5px;
}

@media screen and (max-width: 680px) {
  .popup__error {
    width: 238px;
  }
}