.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  margin: 0;
  padding: 0;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .popup__button-close {
    right: 0;
  }
}