.photo-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 49px 0 0 0;
}

@media screen and (max-width: 980px) {
  .photo-gallery {
    margin-top: 29px;
  }
}

@media screen and (max-width: 680px) {
  .photo-gallery {
    margin-top: 36px;
  }
}