.popup__button-delete {
  width: 358px;
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  margin: 38px 0 34px 0;
}

.popup__button-delete:hover {
  opacity: 0.8;
}

@media screen and (max-width: 680px) {
  .popup__button-delete {
    width: 238px;
    height: 46px;
    line-height: 17px;
    font-size: 14px;
    margin: 45px 0 25px 0;
  }
}