.photo-gallery__cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(auto-fill, 361px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}


@media screen and (max-width: 980px) {
  .photo-gallery__cards {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 680px) {
  .photo-gallery__cards {
    grid-template-columns: repeat(1, 282px);
  }
}