.card__button-like {
  width: 22px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  margin: auto 18px auto 0;
}

.card__button-like:hover {
  opacity: 0.5;
}