.profile__button-add-card {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  margin: 0 0 0 auto;
}

.profile__button-add-card:hover {
  opacity: 0.6;
}

@media screen and (max-width: 980px) {
  .profile__button-add-card {
    width: 282px;
    margin: 49px auto 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .profile__button-add-card {
    margin: 36px 0 0 0;
  }
}